header {
  padding: 20px 0;
  text-align: center;
  background-color: rgba(227, 103, 31, 1);
  color: rgba(253, 223, 200, 1);
}

.search {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.card {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#dev-name {
  color: RGB(221, 105, 35);
}